* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

.button-container button{
  margin-left: 10px;
}

body {
  background-color: rgb(28, 33, 53);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  padding: 20px;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 140px;
  height: 140px;
  margin-bottom: -20px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1); 
}

h1 {
  font-family: Montserrat;
  font-size: 50px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

span {
 color:rgb(247, 247, 247);
}

input {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #00A963;
  color: #333;
  font-size: 1.2rem;
  padding: 18px 25px;
  margin-top: 10px;
  font-family: Montserrat;
  text-align: center;
  width: 80%;
  max-width: 550px;
  transition: width 0.3s ease-in-out;
}

input:focus {
  border-color: #00e676; 
  outline: none;
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
}

.gif-item-container-card {
  background-color: #384474;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  width: 100%;
  max-width: 320px;
  margin: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); 
}

.gif-item-container-card:hover {
  transform: scale(1.05); 
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out;
}

.gif-card-image:hover {
  transform: scale(1.1);
}

.gif-title {
  font-family: Montserrat;
  font-size: 1rem;
  margin-top: 15px;
  color: #f3f3f3;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

button {
  background-color: #00A963;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  max-width: 150px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00e676;
}

@media (min-width: 768px) {
  .logo {
    width: 220px;
    height: 220px;
  }

  h1 {
    font-size: 70px;
  }

  input {
    font-size: 1.3rem;
    padding: 22px 28px;
    width: 500px;
  }

  .gif-item-container-card {
    max-width: 350px;
  }

  .gif-card-image {
    height: 250px;
  }

  .gif-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .gif-item-container-card {
    width: 350px;
  }

  .gif-card-image {
    height: 300px;
  }

  .gif-title {
    font-size: 1.3rem;
  }
}
